<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [3]:
import pandas as pd

Load the dataset into a dataframe.

In [4]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

In [5]:
df.shape

(11552, 85)

Find how many duplicate rows exist in the dataframe.

In [6]:
# your code goes here

print(len(df[df.duplicated()]))

154

In [76]:
df['Respondent'].duplicated().sum()

0

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [7]:
# your code goes here

df.drop_duplicates(subset = None, keep = 'first', inplace = True)

Verify if duplicates were actually dropped.

In [8]:
# your code goes here

df.shape

(11398, 85)

In [77]:
len(df['Respondent'])

11398

## Finding Missing values

Find the missing values for all columns.

In [9]:
df.isnull().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [10]:
# your code goes here

df.isnull()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11548,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11550,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
11551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Find out how many rows are missing in the column 'WorkLoc'

In [11]:
# your code goes here

df['WorkLoc'].isnull().sum()

32

In [78]:
df['EdLevel'].isnull().sum()

112

In [81]:
df['Country'].isnull().sum()

0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [15]:
# your code goes here

df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [16]:
#make a note of the majority value here, for future reference
#The most frequent value is WorkLoc is 'Office'

df['WorkLoc'].value_counts().idxmax()

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [18]:
# your code goes here

import numpy as np

df['WorkLoc'].replace(np.nan, 'Office', inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [25]:
# your code goes here

df['WorkLoc'].isnull().sum() #option 1

#df['WorkLoc'].isnull() #option 2

0

In [82]:
df['Employment'].value_counts().idxmax()

'Employed full-time'

In [83]:
df['UndergradMajor'].value_counts().idxmin()

'A health science (ex. nursing, pharmacy, radiology)'

In [91]:
df['ConvertedComp'].median()

57745.0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [38]:
# your code goes here

print(list(df['CompFreq'].value_counts().index)) #option 1

['Yearly', 'Monthly', 'Weekly']

In [47]:
df['CompFreq'].value_counts() #option 2

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [45]:
df['CompFreq'].value_counts().index #option 3

Index(['Yearly', 'Monthly', 'Weekly'], dtype='object')

In [41]:
df['CompFreq'].unique() #option 4

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [42]:
df['CompTotal'].median() #find out the median salary in CompTotal column to replace missing values

65000.0

In [51]:
df['CompFreq'].value_counts().idxmax()

'Yearly'

In [68]:
# your code goes here

df['CompFreq'].replace(np.nan, 'Yearly', inplace = True) #replace missing values in CompFreq column with Yearly value
df['CompTotal'].replace(np.nan, 65000.0, inplace = True) #replace missing values in CompTotal column with median salary

#calculating Annual Compensation
def compensation(freq, total): #freq = frequency
    result = 0
    if freq == 'Yearly':
        result = total
    elif freq == 'Monthly':
        result = total * 12
    elif freq == 'Weekly':
        result = total * 52
    return result

In [72]:
annual = [compensation(freq, total) for freq, total in zip(df['CompFreq'], df['CompTotal'])]
df['NormalizedAnnualCompensation'] = annual #create new column

In [73]:
df.shape

(11398, 86)

In [74]:
df['NormalizedAnnualCompensation'].median()

103000.0

In [92]:
df['CompFreq'].

array(['Yearly', 'Monthly', 'Weekly'], dtype=object)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ).